*.class
*.log

# idea
packages/*/.idea
packages/*/.idea_modules

# sbt specific
packages/*/dist/*

packages/*/target/
packages/*/lib_managed/
packages/*/src_managed/
packages/*/project/boot/
packages/*/project/plugins/project/

# Scala-IDE specific
packages/*/.scala_dependencies

#whatttttttttt
packages/*/.idea
packages/*/.vscode
packages/*/project/*
packages/*/node_modules/*
packages/*/*/node_modules/*
packages/*/.next
packages/*/build/*
packages/*/.gitignore
packages/*/.git

# IntelliJ project files
*.iml
packages/*/out
packages/*/.history
packages/*/.cache

packages/*/.scala_dependencies
packages/*/.worksheet




